h1
{
 background-color: aqua;
 color: lime;
 
}
h1
{
 cursor: crosshair;
}
body
{
 background-color: aqua;
 text-decoration: red;
 height: 30px;
 caret-color: aqua;





}
body{

 color:blue;
}